#cont-navbar {
  font-family: 'Roboto Condensed', sans-serif;

}

.navbar {
  background-color: #371107d8;
}

/* .nav-item {
  color: white;
} */

/* .nav-item:hover {
  color: white;
  text-decoration-line: underline;
} */

/* .font {
  text-decoration: none;
} */

/* .font:hover{
  color: white;
} */

/* nav a{
  font-size: 1.5em;
} */

/* .font {
  font-size: 2em;
  color: white;
} */
