* {
  margin: 0;
  padding:0;
}

#navdeslog {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  height: 100%;
}

.menu-deslog {
  display: flex;
  justify-content: flex-end;
}

.nav-home {
  z-index: 2;
  margin-top: 5px;
  width: 100%;
  /* height: 100%; */
  position: fixed;
}

.nav-item {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-right: 30px;
}

.nav-item:hover {
  color: white;
  text-decoration-line: none;
  color: #ff7300;
}

label {
  margin-right: 20px;
  font-size: 35px;
  line-height: 70px;
  display: none;
  float: right; 
}

#toggle {
  display: none;

}

/* @media screen and (max-width: 480px) {

  .nav-item {
    font-size: 17px;
  }
} */

/* @media screen and (min-width: 481px) and (max-width: 800px) {

  .nav-item {
    font-size: 20px;
    height: 55px;

  }
} */


/* @media screen and (max-width: 800px) {

  label {
    color: #ff7400;
    display: block;
    cursor: pointer;
  }

  .nav-home {
    background: #0e1824;
    text-align: right;
    line-height: 70px;
    padding-right: 2%;
  }

  .menu-deslog {
    text-align: center;
    display: none;
    width: 100%;
  }
  
  .nav-item {
    width: 102%;
    border-top: 1px solid #fff;
    position: relative;
    display: block;
    background: #0e1824;
    line-height: 50px;
    clear: right;
    z-index: 1;

  }
  
  #toggle:checked + .menu-deslog {
    display: block;
  }

  .logo-deslog {
    width: 45px;
    float: left;
    margin: 12px 2px 0 25px;
  }

  h4 {
    color: #fff;
    float: left;
    margin-top: 12px;
    font-size: 1.5em;
    width: 6%;
    text-align: left;
  }
  
  .nav-item:hover {
    color: white;
    text-decoration-line: none;
    background-color: #ff7300;
  }
} */

/* @media screen and (min-width: 801px) {

  .logo-deslog, h4 {
    display: none;
  }

  .nav-item {
    font-size: 30px;
  }

} */






