* {
  margin: 0;
  padding:0;
}

#fundo-externo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

#home {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}

#home background {
  width: 100%;
  position: absolute;
}

.carousel-item {
  z-index: -1;
}

.box {
  border: 1px solid blue;
  display: flex;
  align-items: flex-start;
  padding: 80px 50px;
  z-index: 300;
  position: absolute;
}

.box h3 {
  border: 3px solid red;
  display: flex;
  align-items: center;
  padding: 80px 50px;
  /* width: 100%;
  height: 100%; */
  }

.slogan {
  z-index: 100;
  /* position: absolute; */
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slogan h3 {
  font-size: 22px;
  color: #fff;
}

/* .box-cadastro {
  position: absolute;
  display: flex;
  height: 38vh;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  font-size: 2em;

} */

/* .box-no-dec {
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #0e1824;
  color: #ff7400;
  border-radius: 3%;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .box-no-dec:hover {
  text-decoration-line: none;
  color: #ff7400;
} */

/* @media screen and (max-width: 369px) {

  .carousel-item {
    height: 40vh;
    
  }
  
  .slogan h3 {
    font-size: 24px;
    border: 1px solid red;
    
  }
  
  .box-no {
    border: 1px solid red;
    font-size: 22px;
    height: 5vh;
  }

  .box-no-dec {
    border: 1px solid red;
    margin-top: 60px;
  }
} */

/* @media screen and (min-width: 370px) and (max-width: 480px) {

  .carousel-item {
    height: 59vh;
  }

  .slogan h3 {
    font-size: 24px;
  }
  
  .box-cadastro {
    font-size: 26px;
    margin: 40px auto 0;
    
  }
} */

/* @media screen and (min-width: 481px) and (max-width: 590px) {

  .carousel-item {
    height: 70vh;
  }

  .slogan h3 {
    font-size: 26px;
  }
  
  .box-cadastro {
    font-size: 28px;
    margin: 30px auto 0;
  }

} */

/* @media screen and (min-width: 768px) and (max-width: 811px) {

  .slogan {
    margin-top: -36%;
    margin-left: 1.5%;
    width: 33%;
  }
  
  .slogan h3 {
    font-size: 2.2em;
  }

  .box-no-dec {
    width: 86%;
  }

} */

/* @media screen and (min-width: 812px) and (max-width: 1024px) {
  
  .slogan {
    margin-top: -36%;
    margin-left: 1.5%;
    width: 33%;
  }
  
  .slogan h3 {
    font-size: 2.2em;
  }

  .box-no-dec {
    width: 86%;
  }

} */

/* @media screen and (min-width: 1025px) {
  
  .slogan {
    margin-top: -32%;
    margin-left: 1.5%;
    width: 33%;
  }
  
  .slogan h3 {
    font-size: 2.1em;
  }

} */
