#home {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

/* @-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
} */

.carousel-item {
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
  height: 100vh;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  
}

.align-logo-home {
  position: absolute;
  display: flex;
  align-items: center;
  height: 80vh;
  margin-left: 5%;
}

.logo-home {
  display: flex;
}

.logo-home img {
  height: 15vh;
}

.logo-home h2 {
  color: #fff;
  font-weight: bolder;
  font-size: 6em;
  margin-left: 5%;
}

.slogan {
  position: absolute;
  width: 20%;
  display: flex;
  align-items: flex-end;
  height: 70vh;
  margin-left: 5%;
}

.slogan h3 {
  font-size: 3em;
  color: #fff;
}

.box-cadastro {
  position: absolute;
  display: flex;
  margin-left: 5%;
  height: 90vh;;
  align-items: flex-end;
  justify-content: flex-start;
  width: 22%;
  font-size: 2.8rem;
}

.box-no-dec {
  color: #fff;
  background-color: #0e1824;
  color: #ff7400;
  border-radius: 3%;
  width: 60%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-no-dec:hover {
  text-decoration-line: none;
  color: #ff7400;
}