#home {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
}

.carousel-item {
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
  height: 100vh;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.logo-home {
  position: absolute;
  display: flex;
  align-items: flex-start;
  margin: 10% 5%;
}

.logo-home img {
  height: 14vh;
  margin: 3% 1%;
}

.logo-home h2 {
  color: #fff;
  font-weight: bolder;
  font-size: 4.5em;
  width: 10%;
}

.slogan {
  z-index: 1;
  position: absolute;
  width: 25%;
  display: flex;
  align-items: flex-start;
  height: 39vh;
  margin-left: 5%;
  margin-top: -45%;
}

.slogan h3 {
  font-size: 2.5em;
  color: #fff;
}

.box-cadastro {
  position: absolute;
  display: flex;
  height: 38vh;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  font-size: 2em;
}

.box-no-dec {
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #0e1824;
  color: #ff7400;
  border-radius: 3%;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box-no-dec:hover {
  text-decoration-line: none;
  color: #ff7400;
}

@media screen and (max-width: 369px) {

  .carousel-item {
    height: 40vh;
    
  }
  
  .slogan h3 {
    font-size: 24px;
    border: 1px solid red;
    
  }
  
  .box-no {
    border: 1px solid red;
    font-size: 22px;
    /* margin: 40px auto 0; */
    height: 5vh;
  }

  .box-no-dec {
    border: 1px solid red;
    margin-top: 60px;
  }
}

@media screen and (min-width: 370px) and (max-width: 480px) {

  .carousel-item {
    height: 59vh;
  }

  .slogan h3 {
    font-size: 24px;
  }
  
  .box-cadastro {
    font-size: 26px;
    margin: 40px auto 0;
    
  }
}

@media screen and (min-width: 481px) and (max-width: 590px) {

  .carousel-item {
    height: 70vh;
  }

  .slogan h3 {
    font-size: 26px;
  }
  
  .box-cadastro {
    font-size: 28px;
    margin: 30px auto 0;
  }

}

@media screen and (min-width: 591px) and (max-width: 670px) {

  .carousel-item {
    height: 80vh;
  }

  .slogan h3 {
    font-size: 28px;
  }
  
  .box-cadastro {
    font-size: 30px;
    margin: 30px auto 0;
  }

}

@media screen and (min-width: 671px) and (max-width: 800px) {

  .carousel-item {
    height: 90vh;
  }

  .slogan h3 {
    font-size: 28px;
    margin-top: 25px;
  }
  
  .box-cadastro {
    font-size: 30px;
  }

}

@media screen and (max-width: 800px) {
  
  .logo-home h2,
  .logo-home img {
    display: none;
  }
  
  .slogan {
    position: relative;
    width: 90%;
    margin: auto;
  }
  
  .slogan h3 {
    text-align: center;
    color: #0e1824;
  }

  .carousel-item img {
    margin-top: 70px;
  }
  
  .box-cadastro {
    width: 50%;
    text-align: center;
    margin: 50px auto 0;
    background-color: #0e1824;
  }
  
  .box-no-dec {
    color: #ff7400;
  }
}
