#about {
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 100vh;
}

#background-AboutUs {
	background-image: url("/images/screen(4).jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 100%;
	height: 100vh;
	/* -moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%; */
}

@media screen and (max-width: 369px) {

	.text-about {
		width: 57%;
		height: 68%;
	}

	.text-about p {
		font-size: 16px;
	}
	
	.box-about h4 {
		width: 55%;
		font-size: 24px;
	}

}

@media screen and (min-width: 370px) and (max-width: 480px) {

	.text-about {
		width: 53%;
		height: 74%;
	}

	.text-about p {
		font-size: 18px;
	}
	
	.box-about h4 {
		width: 50%;
		font-size: 26px;
	}
}

@media screen and (min-width: 481px) and (max-width: 590px) {

	#background-AboutUs {
		background-position-y: 50%;

	}

	.text-about {
		width: 50%;
		height: 72%;
	}

	.text-about p {
		font-size: 20px;
	}
	
	.box-about h4 {
		width: 40%;
		font-size: 28px;
	}
}

@media screen and (min-width: 591px) and (max-width: 670px) {

	#background-AboutUs {
		background-position-y: 35%;

	}

	.text-about {
		width: 48.5%;
		height: 70%;
	}

	.text-about p {
		font-size: 21px;
	}
	
	.box-about h4 {
		width: 35%;
		font-size: 30px;
	}
}

@media screen and (min-width: 671px) and (max-width: 800px) {

	#background-AboutUs {
		background-position-y: 35%;
	}

	.text-about {
		width: 47%;
		height: 67%;
	}

	.text-about p {
		font-size: 22px;
	}
	
	.box-about h4 {
		width: 35%;
		font-size: 30px;
	}
}

@media screen and (max-width: 800px) {

	#background-AboutUs {
		padding-top: 85px;
	}

	.title-about h1 {
		color: white;
		font-weight: bold;
		margin-left: 5%;
	}
	
	.text-about {
		text-align: justify;
		margin: 2% 5%;

	}

	.text-about p {
		color: white;
	}

	.box-about {
		display: flex;
		align-items: flex-end;
		width: 100%;
	}
	
	.box-about h4 {
		margin-left: 5%;

	}
	.link-about {
    color: #ff7400;
	}
}


