.format-login {
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}

#background-login  {
	background: url("http://townsquare.media/site/722/files/2018/03/RS15492_479591780.jpg?w=980&q=75");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

.align-form {
	display: -webkit-flex;
    align-items: center;
	justify-content: center;
	text-align: center;	
	align-content: center;
	height: 90vh;
}

.align h1 {
	padding-bottom: 10%;
	font-size: 5em;
	font-weight: bolder;
	color: #371107da;
}

.form-group {
	padding-bottom: 5%;

}

.form-group input {
	font-size: 1.5em;
}

.btn-ajs {
	margin-bottom: 7%;
	font-size: 1.7em;
}


.help-block {
	font-size: 1.3em;
	color: #371107da;
	font-weight: bold;
	margin-bottom: 3%;
	background-color: rgba(255, 255, 255, 0.705);
}

.help-block:hover {
	color: #371107da;
	text-decoration-line: none;
}
  
